* {
  padding: 0;
  margin: 0;
}

/* Desde aquí main page404 */
/* Desde aquí globo de texto */
.bubble {
  position: absolute;
  right: 16vw;
  top: 0vw;
  width: 32%;
  height: 7vw;
  background: rgb(236, 238, 214);
  border-radius: 45%;
  border: 0.5vw double #f7f7f7;
  font-family: sans-serif;
  font-size: 1.8vw;
  text-wrap: balance;
}

.textMessage {
  position: relative;
  margin-bottom: 0;
  top: 15%;
  font-family: walter Turncoat;
  line-height: 2vw;
}
.textError {
  position: relative;
  top: 30%;
  left: 8%;
  font-family: Rock Salt;
}

.textMessageOut {
  font-size: 2.5vw;
  font-family: walter Turncoat;
  text-shadow: 2px -2px 3px rgb(199, 153, 153);
}

.errorCode {
  font-size: 2.3vw;
}

.textLinkHome {
  color: rgb(0, 87, 168);
}
@media (max-width: 768px) {
  .bubble {
    font-size: 3vw;
    right: 1vw;
    top: 0vw;
    width: 47%;
    height: 12vw;
  }
  .textMessage {
    font-size: 3.5vw;
    line-height: 3vw;
  }
  .errorCode {
    font-size: 4.1vw;
  }
  .textMessageOut {
    font-size: 5vw;
  }
}
/* Hasta aquí globo de texto */
/* Hasta aquí main page404 */

/* Desde aquí footer */
.footer__logoImage {
  display: inline-block;
  margin: -55px;
  padding: 0px;
}

.footer__logoName {
  background: -webkit-linear-gradient(left, #ff0095, #1048ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* Desde aquí nav redes */
.social {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
  padding: 0px;
}

.social .social-item {
  margin: 00 22px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .social-item .social-link {
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: all 0.4s ease;
}

.social .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewY(-45deg);
}

.social .social-item .social-link::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewX(-45deg);
}

.social .social-item .social-link:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.social .social-item:nth-child(1) a {
  color: #3b5999;
}

.social .social-item:nth-child(1):hover a {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::before {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::after {
  background: #3b5999;
}

.social .social-item:nth-child(2) a {
  color: #55acee;
}

.social .social-item:nth-child(2):hover a {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::before {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::after {
  background: #55acee;
}

.social .social-item:nth-child(3) a {
  color: #dd4b39;
}

.social .social-item:nth-child(3):hover a {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::before {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::after {
  background: #dd4b39;
}

.social .social-item:nth-child(4) a {
  color: #e4405f;
}

.social .social-item:nth-child(4):hover a {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::before {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::after {
  background: #e4405f;
}

.social .social-item .social-link:hover {
  color: #ffffff;
}
/* Hasta aquí nav redes */
/* Desde aquí boton Home */
.Btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(#d1ffdf, #159b82);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
}

.arrow path {
  fill: white;
}

.text {
  font-size: 1em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -38px;
  opacity: 0;
  transition-duration: 0.7s;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: 0.7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Hasta aquí boton Home */
.footer__link:hover {
  color: rgb(32, 190, 238) !important;
}
/* Hasta aquí footer */