:root{
  --titulos-color: #F26938;
  --color-logo-morado: #9C1FBF;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
#page1:target #home{
  display: none;
}
body{
    max-height: 100vh;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    width: 10px; /* Ancho del scroll */
}
body::-webkit-scrollbar-thumb {
    background-color: var(--titulos-color); /* Color de la barra) */
    border-radius: 10px; /* Bordes redondeados de la barra */
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #f28159;
}
body::-webkit-scrollbar-track {
    background-color: #333; /* Color de la pista del scroll */
}

/* Desde aquí el navbar */
/* Desde aquí logo-dnone navbar */
.navbar__dnoneLink img {
  transition: transform 0.5s; /* Agregar transición para suavizar la rotación */
}
.navbar__dnoneLink:hover img {
  transform: rotate(360deg); /* Rotar la imagen 360 grados al pasar el cursor sobre ella */
}
/* Hasta aquí logo-dnone navbar */
.bn31 {
  background-image: linear-gradient(to right, #F2CB05 0%, #F26938 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #F26938;
  display: block;
  height: 45px;
  font-size: 1.4em;
  padding: 4px;
  position:relative;
  text-decoration: none;
  max-width: 7em;
  min-width: 5.5em;
  width: 30vw;
  z-index: 2;
}

.bn31:hover {
color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}
/* Hasta aquí el navbar */

/* Desde aquí section 1 */
.welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.96;
    z-index: 100;
}
.welcome_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home:target{
    animation: translate 2.5s forwards;
}
@keyframes translate{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
        background-color: rgb(119, 0, 255);
        rotate: 1800deg;
        opacity: 0.2;
    }
}
.ring{
    width: 300px;
    height: 300px;
    border: 0px solid black;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
}
.ring:nth-child(1){
    border-bottom-width:8px ;
    border-color: #F2CB05;
    animation: rotate1 4s linear infinite;
}
.ring:nth-child(2){
    border-bottom-width:8px ;
    border-color: #F26938;
    animation: rotate2 4s linear 0.5s infinite;
}
.ring:nth-child(3){
    border-bottom-width:8px ;
    border-color: #160FF2;
    animation: rotate3 4s linear 1s infinite;
}
.ring:nth-child(4){
    border-bottom-width:8px ;
    border-color: #9C1FBF;
    animation: rotate4 4s linear 1.5s infinite;
}
.logo{
    z-index: 10;
    background-color: transparent;
}
.logo:hover{
    scale: 1.2;
}
@keyframes rotate1{
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        z-index: 0;
        opacity: -0.5;
    }
    50%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(180deg);
        z-index: 5;
        opacity: 1;
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        z-index: 10;
        opacity: 0;
    }
}
@keyframes rotate2{
    0%{
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(0deg);
        z-index: 0;
        opacity: -0.5;
    }
    50%{
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(180deg);
        z-index: 5;
        opacity: 1;
    }
    100%{
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
        z-index: 10;
        opacity: 0;
    }
}
@keyframes rotate3{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        z-index: 0;
        opacity: -0.5;
    }
    50%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(180deg);
        z-index: 5;
        opacity: 1;
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        z-index: 10;
        opacity: 0;
    }
}
@keyframes rotate4{
    0%{
        transform: rotateX(50deg) rotateY(-30deg) rotateZ(0deg);
        z-index: 0;
        opacity: -0.5;
    }
    50%{
        transform: rotateX(50deg) rotateY(-30deg) rotateZ(180deg);
        z-index: 5;
        opacity: 1;
    }
    100%{
        transform: rotateX(50deg) rotateY(-30deg) rotateZ(360deg);
        z-index: 10;
        opacity: 0;
    }
}
.card:hover{
    transform: scale(1.1);
}
.card{
    transition: all 0.3s;
    overflow: hidden;
}
.card-body{
    width: 100%;
    height: 100%;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}
.card:hover .card-body{
    right: 0;
}
@media(min-width: 576px) {
  .borderTitle {
    border-left: 4px solid #F26938;
  }
}
.description{
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 5;
}
/* Hasta aquí section 1 */







/* Desde aquí footer */
.footer__logoImage {
  display: inline-block;
  margin: -55px;
  padding: 0px;
}

.footer__logoName {
  background: -webkit-linear-gradient(left, #ff0095, #1048ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* Desde aquí nav redes */
.social {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
  padding: 0px;
}

.social .social-item {
  margin: 00 22px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .social-item .social-link {
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: all 0.4s ease;
}

.social .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewY(-45deg);
}

.social .social-item .social-link::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewX(-45deg);
}

.social .social-item .social-link:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.social .social-item:nth-child(1) a {
  color: #3b5999;
}

.social .social-item:nth-child(1):hover a {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::before {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::after {
  background: #3b5999;
}

.social .social-item:nth-child(2) a {
  color: #55acee;
}

.social .social-item:nth-child(2):hover a {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::before {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::after {
  background: #55acee;
}

.social .social-item:nth-child(3) a {
  color: #dd4b39;
}

.social .social-item:nth-child(3):hover a {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::before {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::after {
  background: #dd4b39;
}

.social .social-item:nth-child(4) a {
  color: #e4405f;
}

.social .social-item:nth-child(4):hover a {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::before {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::after {
  background: #e4405f;
}

.social .social-item .social-link:hover {
  color: #ffffff;
}
/* Hasta aquí nav redes */
/* Desde aquí boton Home */
.Btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(#d1ffdf, #159b82);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
}

.arrow path {
  fill: white;
}

.text {
  font-size: 1em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -38px;
  opacity: 0;
  transition-duration: 0.7s;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: 0.7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Hasta aquí boton Home */
.footer__link:hover {
  color: rgb(32, 190, 238) !important;
}
/* Hasta aquí footer */